.people-list {
    list-style: none;
    padding: 0;
  }
  
  .people-list li {
    padding: var(--spacing-base);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: var(--spacing-base);
    background-color: #fff;
  }
  
  .people-list li div {
    margin-bottom: var(--spacing-base / 2);
  }
  
  .people-list button {
    margin-top: var(--spacing-base);
  }